
*{
	margin:0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Shadows Into Light Two', cursive;
}

.flex-container{
	display: flex;
  justify-content:center;
  align-items: flex-end;
  height: 100%;
}

.kitten{
  padding-bottom: 4em;
  max-width: 100%; 
}
.cover-mobile{
  background-image: url("../assets/img/dawn.png");
  background-size: cover;
  height: 100vh;
  background-position: 50% 45%;
}
.medium , .large{
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .cover-tablet{
    background-image: url("../assets/img/night.jpg");
    background-size: cover;
    height: 100vh;
    background-position: 50% 45%;
    max-width: 100vw;
  }
  .small , .large{
    display: none;
  }
  .medium{
    display: block;
  }
}

/* Desktop Grid */
@media (min-width: 992px) {
  .cover-desktop{
    background-image: url("../assets/img/sunny-day.jpg");
    background-size: cover;
    height: 100vh;
    background-position: 50% 45%;
  }
  .small , .medium{
    display: none;
  }
  .large{
    display: block;
  }
}  